.login-btn {
    transition: .3s all ease-in-out;
    font-size: 16px;
    letter-spacing: -0.02px;
    line-height: 19.26px;
    border: 0;
    width: 100%;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    border-radius: 90px;
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
}

.btn-black-login {
    background-color: #1c1c1c;
    color: #fff;
}